.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.padded-div {
  padding: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import './Deckbuilder.css';
@import './BuilderBar.css';
@import './BuilderBarCharacters.css';
@import './SelectableList.css';
@import './CharacterPicker.css';