.deck-builder {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .deck-builder-content {
        width: calc(100% - 320px);
    }
}

.picker-list-container {
    height: 500px;
    overflow: scroll;
}

.hidden-list {
    display: none;
}

.show-deck-button {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #db4437;
    color: white;
    border-radius: 30px;
    box-shadow: 0px 2px 5px #666;
}

@media (min-width: 768px) {
    .show-deck-button {
        display: none;
    }
}