.deck-builder {
    display: flex;
    justify-content: space-between;
}

.deck-builder-content {
    width: 100%;
}

@media (min-width: 768px) {
    .deck-builder-content {
        width: calc(100% - 320px);
    }
}

.picker-list-container {
    height: 500px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.hidden-list {
    display: none;
}

.character-list-empty-state {
    text-align: center;
    width: 100%;
}

@media (min-width: 768px) {
    .character-list-empty-state {
        text-align: left;
    }
}

.show-deck-button {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #db4437;
    color: white;
    border-radius: 30px;
    box-shadow: 0px 2px 5px #666;
}

@media (min-width: 768px) {
    .show-deck-button {
         display: none; 
    }
}

.list-toggle-button {
    cursor: pointer;
    background-color: rgba(37, 81, 154, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgb(37, 81, 154);
    width: 100%;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .list-toggle-button {
        width: 200px;
    }
}

.list-toggle-button.active {
    background-color: rgba(37, 81, 154, 0.4);
}
