.selectable-list {
    display: flex;
    flex-wrap: wrap;
}

.selectable-list-item {
    display: flex;
    width: 100%;
    height: 125px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    cursor: pointer;
}

@media (min-width: 768px) {
    .selectable-list-item {
        width: 400px;
        height: 100px;
    }
}

.list-item-image-container {
    height: 100%;
    overflow: hidden;
    width: 100px;
    flex-shrink: 0;
    z-index: 0;
}

.list-item-image-container > img {
    width: 160%;
    transform: translateX(-35px) translateY(-35px);
    z-index: 0;
}

.list-item-text-container {
    padding: 5px;
}

.list-item-text-container > span {
    display: block;
}

.list-item-title {
    font-weight: bold;
    font-size: 14px;
}

.list-item-subtitle {
    font-size: 10px;
    margin-bottom: 5px;
}

.list-item-text {
    font-size: 12px;
}

.list-item-dice-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.list-item-die {
    background-color: black;
    color: white;
    font-size: 10px;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

.item-full-art {
    position: absolute;
    animation: fadein 2s;
    box-shadow: 2px 2px 20px 5px #000000;
    border-radius: 15px;
    overflow: hidden;
    height: 350px;
    z-index: 5;
}

.item-full-art > img {
    height: 350px;
    z-index: 5;
}